{% extends 'base.html' %}

{% block content %}
    <br>
    <h4>
      Профиль пользователя: {{ user.username }}
    </h4>
    <br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">e-mail</th>
                <th scope="col">Товаров</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>@{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{  user.product.count }}</td>
          </tr>
        </tbody>
      </table>
      <h4>Все товары {{ user.username }}:</h4>
      <div class="container-fluid text-center bg-grey">
        <div class="row text-center">
        {% for product in user.product.all %}
          <div class="col-sm-4">
            <div class="thumbnail">
                <a href="{% url 'product' product.id %}">
            {% if product.image %}
              <img src="{{ product.image.url }}" alt="Paris" width="200px">
            {% endif %}
        </a>
        <a href="{% url 'product' product.id %}">
              <p><strong>{{ product.name }}</strong></p>
            </a>
              <p><strong>{{ product.price|floatformat:0 }} сом</strong></p>
              <p>{{ product.category }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
        <br>
{% endblock %}