{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated and request.user == user %}
    <br>
    <h2>Редактировать профиль</h2>
    <br>
    <div id="accordion">
          <!-- Изменить персональную информацию -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Изменить персональную информацию
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <form class="needs-validation"  method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltipUsername">Новое имя пользователя</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                              </div>
                              <input name="username" type="text" class="form-control" id="validationTooltipUsername" placeholder="Введите новое имя пользователя" aria-describedby="validationTooltipUsernamePrepend" required>
                              <div class="invalid-tooltip">
                                Please choose a unique and valid username.
                              </div>
                            </div>
                          </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationTooltip01">Имя</label>
                        <input name="first_name" type="text" class="form-control" id="validationTooltip01" placeholder="Введите новое имя" value="{{ user.first_name }}" required>
                        <div class="valid-tooltip">
                          Looks good!
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationTooltip02">Фамилия</label>
                        <input name="last_name" type="text" class="form-control" id="validationTooltip02" placeholder="Введите новое фамилия" value="{{ user.last_name }}" required>
                        <div class="valid-tooltip">
                          Looks good!
                        </div>
                      </div>
                    </div>

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Изменить данные
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Сохранить текущие изменения?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                              Нет
                            </button>
                            <button name="edit_profile" type="submit" class="btn btn-primary">
                              Да
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                </form>
            </div>
          </div>
        </div>
        <br>
        <br>
        <!-- Изменить Ваш e-mail и номер телефона -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Изменить Ваш e-mail и номер телефона
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Текущий Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Введите текущий Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Новый Email</label>
                        <input name='new_email' type="email" class="form-control" id="inputEmail4" placeholder="Введите новый Email">
                      </div>
                    </div>
                  </form>
            </div>
          </div>
        </div>
        <br>
        <br>
        <!-- Изменить пароли -->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Изменить пароли
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Старый пароль</label>
                            <input type="password" name ="oldpassword" class="form-control" id="inputPassword4" placeholder="Введите старый пароль">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputPassword4">Новый пароль</label>
                            <input type="password" name="password1" class="form-control" id="inputPassword4" placeholder="Введите новый пароль">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputPassword4">Потверждение нового пароля</label>
                            <input type="password" name="password2" class="form-control" id="inputPassword4" placeholder="Потвердите новый пароль">
                          </div>
                    </div>

                                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Сменить пароль
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Сменить пароль?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                <button name="change_password" class="btn btn-primary">Да</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      
{% endif %}
{% endblock %}