{% extends 'base.html' %}
{% block content %}
{% include "includes/alert.html" %}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        {% if product.image %}
            <img src="{{ product.image.url }}" width="200px">
        {% endif %}
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12">
        <h4>{{ product.name }} - 
            {% if product.availability_in_store %}
                <button class="btn btn-sm btn-success">Есть в наличии</button>
            {% else %}
                <button class="btn btn-warning">Под заказ</button>
            {% endif %}</h4>
        <h4>{{ product.price }} сом</h4>
        <div>
            Описание товара: {{ product.description|linebreaks }}
        </div>
            <br>
        <div> 
            Категории: {{ product.category }}
        </div>
        <div>
            {% if product.user %}
                Продавец: 
                <a href="{% url 'profile' product.user.pk %}">
                    {{ product.user }}
                </a> 
            {% endif %}
        </div>
        {% for image in product.images %}
            <img src="{{ image.image.url }}" width="200px">
                 {{ image.image.url }}
        {% endfor %}
        {% if request.user == product.user %}
            <div class="form-row text-right">
                <div class="col-12">
                    <a href="{% url 'product-edit' product.id %}">
                        <button class="btn btn-sm btn-warning">
                            Редактировать
                        </button>
                    </a>
                        <br>
                        <br>
                    <form method="POST" action="{% url 'product-delete' product.id %}">
                            {% csrf_token %}
                        <button class="btn btn-sm btn-danger" name="delete_btn">
                            Удалить
                        </button>
                    </form> 
                </div>
            </div>
        {% endif %}
    </div>
    
</div>
{% endblock %}