<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Список товаров:</h1>
    <ul>{% for product in products %}
            <li><h3>Название товара: {{ product.name }}</h3> </li>
            <li><h3>Описание товара: {{ product.description }}</h3> </li>
            <li><h3>Цена товара: {{ product.price }}</h3> </li>
            <li><h3>Количество покупок товара: {{ product.quantity_purchases }}</h3> </li>
            <li><h3>Наличие в магазине товара: {{ product.availability_in_store }}</h3> </li>
            <hr>
            <br>
        {% endfor %}
    </ul>

</body>
</html>