
{% extends 'base.html' %}
    {% block content %}
            <h1>Список товаров:</h1>
        <ul>{% for product in products %}
                <li><h3>Название товара: {{ product.name }} - {{ product.category }}</h3> </li>
                <li><h3>Описание товара: {{ product.description }}</h3> </li>
                <li><h3>Цена товара: {{ product.price }}</h3> </li>
                <li><h3>Количество покупок товара: {{ product.quantity_purchases }}</h3> </li>
                <hr>
                <br>
            {% endfor %}
        </ul>
    {% endblock %}