{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <br>
        <h3>Добро пожаловать в интернет магазин Tech Shop!</h3>
    </div>
    <br>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'home' %}">Tech Shop</a>
      
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Все товары</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'product-create' %}">Добавить товар</a>
            </li>
          {% endif %}
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
        </ul>

        <form class="form-inline" action="{% url 'products' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="text" name="key_word" placeholder="Ключевое слово">
            <button class="btn btn-success" type="submit">Поиск</button>
          </form>
          &#8195;
          <form class="navbar-nav">
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                    Привет, {{ request.user.username }}
                    <a href="{% url 'account_logout' %}" class="nav-link d-inline">Выйти?</a>
                {% else %}
                    Hi Guest!
                    <a href="{% url 'account_login' %}" class="nav-link d-inline">Войти?</a>

                {% endif %}
            </form>
    </nav>
    <div class="row container-fluid">
          <div class="col-lg-3 col-md-2 col-sm-12">
            боковая панель<br>
            боковая панель<br>
            боковая панель<br>
            боковая панель<br>
            боковая панель<br>
            боковая панель<br>
            боковая панель<br>
            боковая панель<br>
            боковая панель<br>
          </div>
      
          <div class="col-lg-9 col-md-10 col-sm-12">
              {% block content %}{% endblock %}
          </div>
        
      </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <nav class="navbar bottom navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" 
          aria-controls="nav-content" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Бренд -->
        <a class="navbar-brand" href="{% url 'home' %}">Tech Shop</a>
        <!-- Ссылки -->
        <div class="collapse navbar-collapse" id="nav-content"> 
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">Все товары</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ссылка 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ссылка 3</a>
            </li>
          </ul>
        </div>
      </nav><!-- Устанавливаем высоту body, чтобы появилась полоса прокрутки -->
</body>
</html>